
@model WorkerRegisterDTO
@{
    Layout = null;
}
@{
    List<TitleDTO> titleList = (List<TitleDTO>)ViewData["titles"];
    List<UnitDTO> unitList = (List<UnitDTO>)ViewData["units"];
    List<UpperWorkerDTO> upperWorkerList = (List<UpperWorkerDTO>)ViewData["upperworkers"];
}
<div class="form-container sign-up">
    <form method="post" asp-action="Register" asp-controller="Login">
        @Html.AntiForgeryToken()
        <h1>Hesap Oluştur</h1>

        <input class="form-control" required type="text" asp-for="WorkerName" placeholder="İsim">
        @Html.ValidationMessageFor(x => x.WorkerName, null, new {@class = "invalid-feedback d-block"})
        <input class="form-control" required type="email" asp-for="WorkerEmail" placeholder="Email">
        @Html.ValidationMessageFor(x => x.WorkerEmail, null, new {@class = "invalid-feedback d-block"})
        <input class="form-control" required type="password" asp-for="password" placeholder="Şifre">
        @Html.ValidationMessageFor(x => x.password, null, new {@class = "invalid-feedback d-block"})
        <input class="form-control" required type="number" asp-for="WorkerPhonenumber" placeholder="Telefon">
        @Html.ValidationMessageFor(x => x.WorkerPhonenumber, null, new {@class = "invalid-feedback d-block"})

        <select asp-for="UnitID" required class="form-control">
            <option value="">Birim Seciniz</option>
            @foreach (UnitDTO item in unitList)
            {
                <option value="@item.UnitID">@item.UnitName</option>
            }
        </select>

        <select asp-for="TitleID" required class="form-control">
            <option value="">Unvan Seciniz</option>
            @foreach (TitleDTO item in titleList)
            {
                <option value="@item.TitleID">@item.TitleName</option>
            }
        </select>
        <select asp-for="UpperWorkerID" required class="form-control">
            <option value="">Müdür Seciniz</option>
            @foreach (UpperWorkerDTO item in upperWorkerList)
            {
                <option value="@item.WorkerID">@item.WorkerName</option>
            }
        </select>


        <button type="submit">Kayıt ol</button>
    </form>
</div>