@{
    List<AdvanceWhoIsApprovingDTO> advanceList = (List<AdvanceWhoIsApprovingDTO>)ViewData["projectList"];

    int upperID = int.Parse(User.FindFirst(ClaimTypes.UserData)?.Value);
    int nowID = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
    int titleID = int.Parse(User.FindFirst(ClaimTypes.Actor)?.Value);
}
@using System.Security.Claims
@model AdvanceDetailsInsertDTO
<form method="post" asp-action="GetApprovePageDetails" asp-controller="Advance">
    <div class="row text-center">
        <div class="col-md-6">
            <h2>Uygun Görülen Ödeme Tarihi:</h2>
        </div>
        <div class="col-md-6">
            <input class="input--style-3 js-datepicker form-control" type="datetime" asp-for="DeterminedPaymentDate" placeholder="gun/ay/yil" required>
            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>

            <input type="hidden" class="form-control" asp-for="ApprovedAmount" value="@advanceList.Select(x=>x.ApprovedAmount).Last()"  />
            <input type="hidden" class="form-control" asp-for="NextApproverOrRejecterID" value="@upperID" />
            <input type="hidden" class="form-control" asp-for="ApprovedDeclinedDate" value="@DateTime.Now" />
            <input type="hidden" class="form-control" asp-for="ApprovalStatusID" value="@advanceList.Select(x=>x.ApprovalStatusID).Last()" />
            <input type="hidden" class="form-control" asp-for="ApproverOrRejecterID" value="@nowID" />
            <input type="hidden" class="form-control" asp-for="TitleID" value="@titleID" />
            <input type="hidden" class="form-control" asp-for="AdvanceID" value="@advanceList.Select(x=>x.AdvanceID).First()" />
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <button class="btn-danger" type="reset" name="approvalButton" value="false">Formu Temizle</button>
        </div>
        <div class="col-md-6">
            <button class="btn-success" type="submit" name="approvalButton" value="true">Onay</button>

        </div>
    </div>
</form>